//working directory for temporary/intermediate files produced in the workflow processes
//workDir = "$HOME/nextflow/temp"

//global parameters
params {
    // general options
    sample_sheet                = "data/sample_sheets/2025.06.03_T-ALL_bulk_rnaseq_sample_sheet_v1.csv"

    // Input and output options
    download_sra_fqs            = false
    outdir                      = "/mnt/bioinformatics/nextflow_out/2025.06.02_RNAseq_Bulk_T-ALL/rnaseq_quant"
    publish_dir_mode            = 'copy'

    // STAR specific params
    index                       = '/genome_references/human/GRCh38/gencode_v48/star'
    build_index                 = false
    gtf                         = '/genome_references/human/GRCh38/gencode_v48/ref_files/gencode.v48.primary_assembly.annotation.gtf' // required
    fasta                       = '/genome_references/human/GRCh38/gencode_v48/ref_files/GRCh38.primary_assembly.genome.fa' // required
    star_ignore_sjdbgtf         = false
    seq_platform                = 'illumina'
    seq_center                  = 'OPBG'

    // trimgalore specific parameters
    trim                        = true

    // RSEQC specific parameters
    rRNA_transcripts              = '/genome_references/human/GRCh38/rRNA/ensembl_transcript_id_v114.txt'

    // fasterq-dump params
    user_settings               = './ncbi-user-settings.mkfg'

    //MultiQC params
    multiqc_config              = ''
    extra_multiqc_config        = ''
    multiqc_logo                = ''
}

// Computational resource allocation for the processes run in the workflow
process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    errorStrategy = "terminate"
    maxRetries = 1
    debug = true

    //STAR-aligner process specific parameters
    //https://www.nextflow.io/docs/latest/process.html#dynamic-computing-resources
    withName: STAR_ALIGN {
        cpus = { 2 * task.attempt }
        memory = { 62.GB * task.attempt }
        //containerOptions = '' 
        ext.args = "--quantMode GeneCounts --outSAMtype BAM SortedByCoordinate --readFilesCommand 'gunzip -c' --twopassMode Basic --twopass1readsN -1 --outSAMattributes NH HI NM MD AS nM jM jI XS "
    }

    withName: PICARD_MARKDUPLICATES {
        cpus = { 2 * task.attempt }
        memory = { 16.GB * task.attempt }
        ext.args = ''
    }

    //STAR index process specific parameters
    withName: STAR_GENOMEGENERATE {
        cpus = { 8 * task.attempt }
        memory = { 62.GB * task.attempt }
        ext.args = ''
    }

    //Trimgalore process specific parameters
    withName: TRIMGALORE {
        cpus = { 2 * task.attempt }
        memory = { 8.GB * task.attempt }
        ext.args = ''
    }

    //FastQC process specific parameters
    withName: FASTQC {
        cpus = 1
        memory = 8.GB
        ext.args = '--quiet'
    }

    //RSEQC process params
    withLabel: RSEQC {
        cpus = { 1 * task.attempt }
        memory = { 8.GB * task.attempt }
        ext.args = ''
    }

    //RSEQC process params
    withName: RSEQC_TIN {
        cpus = { 1 * task.attempt }
        memory = { 8.GB * task.attempt }
        ext.args = ''
    }

    //RSEQC reference files params
    withName: UCSC_GTFTOGENEPRED {
        cpus = { 1 * task.attempt }
        memory = { 8.GB * task.attempt }
        ext.args = "-ignoreGroupsWithoutExons -geneNameAsName2 -genePredExt"
    }

    //MULTIQC process specific parameters
    withName: MULTIQC {
        cpus = 1
        memory = 8.GB
        ext.args = '--export --data-dir --verbose'
    }

    //SRA process specific parameters
    withName: SRATOOLS_FASTERQDUMP {
        cpus = { 2 * task.attempt }
        memory = { 16.GB * task.attempt }
        ext.args = '--verbose'
        ext.args2 = '--verbose'
    }
}

//Create profiles to easily switch between the different process executors and platforms.
profiles {
    //For running on an interactive session singularity 
    local_singularity {
        process.executor = 'local'
        singularity.enabled = true
    }
    //For running on an interactive session with apptainer  
    local_apptainer {
        process.executor = 'local'
        apptainer.enabled = true
    }
    //For running on an interactive session with docker  
    local_docker {
        process.executor = 'local'
        docker.enabled = true
    }
}

// https://www.nextflow.io/docs/latest/reference/config.html#executor
executor {
  $local {
      cpus = 32
      memory = '125.0 GB'
  }
}


// Set default registry for Apptainer, Docker, Podman and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Singularity are enabled
// Set to your registry if you have a mirror of containers
// https://github.com/nf-core/tools/blob/master/nf_core/pipeline-template/nextflow.config
apptainer.registry   = 'quay.io'
docker.registry      = 'quay.io'
podman.registry      = 'quay.io'
singularity.registry = 'quay.io'


//Configs for docker containers on bioinformatics PC
docker {
    //temp = 'auto'
    //fixOwnership = true
    //sudo = true
    engineOptions = ''
    runOptions = "--userns=host --user \$(id -u):\$(id -g)"
}


singularity {
    autoMounts = true
    cacheDir = "$HOME/containers/singularity"
    runOptions = '--containall --no-home'
}

apptainer {
    autoMounts = true
    cacheDir = "$HOME/containers/apptainer"
    runOptions = '--containall --no-home'
}

//Use personal conda environments on cybertron
conda {
    cacheDir = "$HOME/envs/"
}

//overwrite reports when the workflow is executed again
report {
    overwrite = true
}
dag {
    overwrite = true
}
